{# TODO: pihole-FTL does not import from DBFILE #}
BLOCKINGMODE={{ pihole_blocking_mode }}
MAXLOGAGE={{ pihole_maxlogage }}
AAAA_QUERY_ANALYSIS={{ pihole_analyze_aaaa }}
ANALYZE_ONLY_A_AND_AAAA={{ pihole_analyze_a_aaaa_only }}
IGNORE_LOCALHOST={{ pihole_ignore_localhost }}
SOCKET_LISTENING={{ pihole_socket_listening }}
FTLPORT={{ pihole_ftlport }}
RESOLVE_IPV4={{ pihole_resolve_ipv4 }}
RESOLVE_IPV6={{ pihole_resolve_ipv6 }}
DBIMPORT={{ pihole_dbimport }}
MAXDBDAYS={{ pihole_maxdbdays }}
DBINTERVAL={{ pihole_dbinterval }}
DBFILE={{ pihole_dbfile }}
LOGFILE={{ pihole_logfile }}
PIDFILE={{ pihole_pidfile }}
PORTFILE={{ pihole_portfile }}
SOCKETFILE={{ pihole_socketfile }}
SETUPVARSFILE={{ pihole_setupvarsfile }}
AUDITLISTFILE={{ pihole_auditlistfile }}
MACVENDORDB={{ pihole_macvendordb }}
{% for key, value in pihole_piholeftl_custom %}
{{ key }}={{ value }}
{% endfor %}
PRIVACYLEVEL={{ pihole_privacy_level }}
DEBUG_REGEX={{ pihole_debug_regex }}
