INSTALL_WEB_INTERFACE={{ pihole_enable_webinterface }}
INSTALL_WEB_SERVER={{ pihole_enable_webinterface }}
LIGHTTPD_ENABLED={{ pihole_enable_webinterface }}
WEBPASSWORD={{ pihole_webpassword }}
BLOCKING_ENABLED=true
PIHOLE_INTERFACE={{ pihole_network_interface }}
IPV4_ADDRESS={{ pihole_ipv4_address | ipaddr('host/prefix') }}
IPV6_ADDRESS={{ pihole_ipv6_address | ipaddr('host/prefix') }}
QUERY_LOGGING={{ pihole_query_logging }}
DNSMASQ_LISTENING={{ pihole_dnsmasq_listening }}
ADMIN_EMAIL={{ pihole_admin_email }}
TEMPERATUREUNIT={{ pihole_temperatureunit }}
WEBUIBOXEDLAYOUT={{ pihole_webuiboxedlayout }}
API_EXCLUDE_DOMAINS={{ pihole_api_exclude_domains | join(',') }}
API_EXCLUDE_CLIENTS={{ pihole_api_exclude_clients | join(',') }}
API_QUERY_LOG_SHOW={{ pihole_api_query_log_show }}
API_PRIVACY_MODE={{ pihole_api_privacy_mode }}
{% for key, value in pihole_setupvars_custom %}
{{ key }}={{ value }}
{% endfor %}
DHCP_ACTIVE={{ pihole_dhcp }}
{% if pihole_dhcp == 'true' %}
DHCP_START={{ pihole_dhcp_range.start | ipaddr('address') }}
DHCP_END={{ pihole_dhcp_range.end | ipaddr('address') }}
DHCP_ROUTER={{ pihole_gateway_address | ipaddr('address') }}
DHCP_LEASETIME={{ pihole_dhcp_leasetime }}
PIHOLE_DOMAIN={{ pihole_domain }}
DHCP_IPv6={{ pihole_dhcp_ipv6 }}
DHCP_rapid_commit={{ pihole_dhcp_rapid_commit }}
{% endif %}
{% for address in pihole_upstream_dns %}
PIHOLE_DNS_{{ loop.index }}={{ address }}
{% endfor %}
DNS_FQDN_REQUIRED={{ pihole_dns_fqdn_required }}
DNS_BOGUS_PRIV={{ pihole_dns_bogus_priv }}
DNSSEC={{ pihole_dnssec }}
REV_SERVER={{ pihole_conditional_fwd }}
{% if pihole_conditional_fwd == 'true' %}
REV_SERVER_TARGET={{ pihole_conditional_fwd_rules[0].server_ip | ipaddr('address') }}
REV_SERVER_DOMAIN={{ pihole_conditional_fwd_rules[0].domain }}
REV_SERVER_CIDR={{ pihole_conditional_fwd_rules[0].network | ipaddr('network/prefix') }}
{% endif %}
