---
- name: OS-specific configuration
  ansible.builtin.include_tasks: "{{ ansible_os_family }}.yml"

- name: Install virtualisation guest agents
  become: true
  ansible.builtin.package:
    name:
      - qemu-guest-agent        # KVM
      - open-vm-tools           # VMware
    state: present
  when: ansible_virtualization_role == 'guest'

- name: Configure SSH
  ansible.builtin.import_tasks: ssh_hardening.yml
