---
services:
  librespeed:
    image: adolfintel/speedtest:{{ librespeed_version }}
    restart: unless-stopped
    cpu_shares: 1024
    deploy:
      resources:
        limits:
          memory: 1G
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
    security_opt:
      - no-new-privileges:true
    networks:
      reverse_proxy:
        ipv4_address: {{ haproxy_docker_internal_network | ansible.utils.ipaddr('8') | ansible.utils.ipaddr('address') }}
    environment:
      MODE: standalone

  iperf3:
    image: ghcr.io/niklasea/iperf3:{{ iperf3_version }}
    restart: unless-stopped
    cpu_shares: 1024
    deploy:
      resources:
        limits:
          memory: 1G
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    ports:
      - {{ iperf3_port }}:5201

networks:
  reverse_proxy:
    external: true
