[Unit]
Description={{ item.iperf_version }} daemon
After=network-online.target

[Service]
# The user/group {{ item.iperf_version }} is run under. the working directory (see below) should allow write and read access to this user/group
User=root
Group=root
# The location of the compiled binary
ExecStart=/usr/bin/{{ item.iperf_version }} -s

[Install]
WantedBy=multi-user.target