{# TODO: Refactor to allow user control #}
{% if pihole_dhcp == 'true' %}
# Never forward queries for local domain even if they are FQDNs
local=/{{ pihole_domain }}/
{% endif %}

{% if pihole_dnsmasq_conditional_fwd == 'true' %}
{# The Pi-hole interface supports a single conditional forwarding rule and reverse DNS for /24 networks only.
This supports both multiple conditional forwarding rules and reverse DNS for arbitrary network sizes. #}
# Conditional forwarding rules (queries for hosts on the set domain will be sent to the set IP)
{% for rule in pihole_dnsmasq_conditional_fwd_rules %}
server=/{{ rule.domain }}/{{ rule.server_ip }}
{% if rule.network is defined %}
# Reverse DNS for {{ rule.domain }}
rev-server={{ rule.network | ansible.utils.ipaddr('network/prefix') }},{{ rule.server_ip }}
{% endif %}
{% endfor %}
{% endif %}

{# Supports handing out multiple DNS servers via DHCP #}
# Default DHCP provided DNS server(s)
dhcp-option=option:dns-server,{{ pihole_dhcp_dns | ansible.utils.ipaddr('address') | join(',') }}
{% if pihole_dhcp_alternate_dns is not none %}
# Different DNS server(s) for specific tagged devices
dhcp-option=tag:{{ pihole_dhcp_alternate_dns.tag }},option:dns-server,{{ pihole_dhcp_alternate_dns.servers | ansible.utils.ipaddr('address') | join(',') }}
{% endif %}

{% if pihole_static_routes is not none %}
# Additional static routes for VPN connections, unsupported devices will simply ignore this
# This overrides the default option:router, hence the need to specify the default route as well
dhcp-option=option:classless-static-route,0.0.0.0/0,{{ pihole_gateway_address }},{{ pihole_static_routes | join(',') }}
{% endif %}

{% if pihole_ntp_addresses is not none %}
# NTP server(s)
dhcp-option=option:ntp-server,{{ pihole_ntp_addresses | ansible.utils.ipaddr('address') | join(',') }}
{% if pihole_ntp_redirect_requests is not none %}
# Redirect requests for other NTP servers towards one of your servers
address=/{{ pihole_ntp_redirect_requests | join('/') }}/{{ pihole_ntp_addresses[0] }}
# Make an exception for certain domains (e.g. the pool.ntp.org web page)
server=/{{ pihole_ntp_exceptions | join('/') }}/#
{% endif %}
{% endif %}

# Custom user options
{{ pihole_dnsmasq_custom }}
