# https://github.com/getdnsapi/stubby/blob/develop/systemd/stubby.service

[Unit]
Description=DNS Privacy Stub Resolver
Documentation=https://dnsprivacy.org/wiki/display/DP/DNS+Privacy+Daemon+-+Stubby
Wants=network-online.target
After=network-online.target

[Service]
# Stubby only creates a pidfile if run as a daemon (-g)
Type=forking
ExecStart={{ stubby_bin_path }} -C {{ stubby_conf_file }} -g -v {{ stubby_log_level }}
Restart=on-failure
RestartSec=1

{# {% if stubby_systemd_version.stdout_lines[0] | int > 232 %} #}
# TODO: Create SELinux policy to allow systemd directory creation
#User=stubby
#Group=stubby
#DynamicUser=true
#RuntimeDirectory=stubby
#CacheDirectory=stubby
#WorkingDirectory=/var/cache/stubby

# Allow service to bind ports in the range of 0-1024
AmbientCapabilities=CAP_NET_BIND_SERVICE
{# {% endif %} #}

# Isolate service from the rest of the system
ProtectHome=true
PrivateDevices=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictNamespaces=true
RestrictRealtime=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
MemoryDenyWriteExecute=true
SystemCallArchitectures=native
LockPersonality=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
