---
# Enable 'import' content type under Datacenter > Storage
- name: Pull disk image template
  community.proxmox.proxmox_template:
    node: "{{ create_vm_proxmox_node }}"
    api_host: "{{ create_vm_proxmox_api_credentials.api_host }}"
    api_port: "{{ create_vm_proxmox_api_credentials.api_port }}"
    api_user: "{{ create_vm_proxmox_api_credentials.api_user }}"
    api_token_id: "{{ create_vm_proxmox_api_credentials.api_token_id }}"
    api_token_secret: "{{ create_vm_proxmox_api_credentials.api_token_secret }}"
    content_type: import
    url: "{{ create_vm_proxmox_image_url }}"

- name: Create VM using cloud-init
  community.proxmox.proxmox_kvm:
    node: "{{ create_vm_proxmox_node }}"
    api_host: "{{ create_vm_proxmox_api_credentials.api_host }}"
    api_port: "{{ create_vm_proxmox_api_credentials.api_port }}"
    api_user: "{{ create_vm_proxmox_api_credentials.api_user }}"
    api_token_id: "{{ create_vm_proxmox_api_credentials.api_token_id }}"
    api_token_secret: "{{ create_vm_proxmox_api_credentials.api_token_secret }}"

    name: "{{ create_vm_proxmox_name }}"
    cpu: 'host'
    sockets: "{{ create_vm_proxmox_sockets }}"
    cores: "{{ create_vm_proxmox_cores }}"
    memory: "{{ create_vm_proxmox_memory_mb }}"
    ostype: 'l26'
    ide:
      ide2: "{{ create_vm_proxmox_vm_storage }}:cloudinit,format=raw"
    scsihw: 'virtio-scsi-single'
    boot: order=scsi0;ide2
    searchdomains: "{{ create_vm_proxmox_searchdomains | default(omit) }}"
    nameservers: "{{ create_vm_proxmox_nameservers }}"
    net: "{{ create_vm_proxmox_net }}"
    ipconfig: "{{ create_vm_proxmox_ipconfig }}"

    ciuser: "{{ cloud_init_credentials.username | default(omit) }}"
    cipassword: "{{ cloud_init_credentials.password | default(omit) }}"
    sshkeys: "{{ cloud_init_credentials.ssh_key | default(omit) }}"

    tags: "{{ create_vm_proxmox_tags }}"
    tablet: false
    onboot: true
    agent: true
    state: present
  register: _create_vm_proxmox_creation

- name: Wait for VM creation
  ansible.builtin.pause:
    seconds: 3
  when: _create_vm_proxmox_creation is changed

- name: Import boot disk from image
  community.proxmox.proxmox_disk:
    api_host: "{{ create_vm_proxmox_api_credentials.api_host }}"
    api_port: "{{ create_vm_proxmox_api_credentials.api_port }}"
    api_user: "{{ create_vm_proxmox_api_credentials.api_user }}"
    api_token_id: "{{ create_vm_proxmox_api_credentials.api_token_id }}"
    api_token_secret: "{{ create_vm_proxmox_api_credentials.api_token_secret }}"

    name: "{{ create_vm_proxmox_name }}"
    disk: scsi0
    backup: true
    ssd: true
    discard: 'on'
    iothread: true
    storage: "{{ create_vm_proxmox_vm_storage }}"
    import_from: "{{ create_vm_proxmox_image_storage }}:import/{{ create_vm_proxmox_image_url | ansible.builtin.basename }}"
    state: present

- name: Resize boot disk to target size
  community.proxmox.proxmox_disk:
    api_host: "{{ create_vm_proxmox_api_credentials.api_host }}"
    api_port: "{{ create_vm_proxmox_api_credentials.api_port }}"
    api_user: "{{ create_vm_proxmox_api_credentials.api_user }}"
    api_token_id: "{{ create_vm_proxmox_api_credentials.api_token_id }}"
    api_token_secret: "{{ create_vm_proxmox_api_credentials.api_token_secret }}"

    name: "{{ create_vm_proxmox_name }}"
    disk: scsi0
    storage: "{{ create_vm_proxmox_vm_storage }}"
    size: "{{ create_vm_proxmox_disk_size }}"
    state: resized

- name: Start new VM
  community.proxmox.proxmox_kvm:
    node: "{{ create_vm_proxmox_node }}"
    api_host: "{{ create_vm_proxmox_api_credentials.api_host }}"
    api_port: "{{ create_vm_proxmox_api_credentials.api_port }}"
    api_user: "{{ create_vm_proxmox_api_credentials.api_user }}"
    api_token_id: "{{ create_vm_proxmox_api_credentials.api_token_id }}"
    api_token_secret: "{{ create_vm_proxmox_api_credentials.api_token_secret }}"

    name: "{{ create_vm_proxmox_name }}"
    state: started
