---
- name: Create Hetzner firewall
  hetzner.hcloud.firewall:
    api_token: "{{ create_vm_hetzner_api_credentials.api_token }}"
    name: ssh-only
    rules:
      - description: Allow ICMP
        direction: in
        protocol: icmp
        source_ips:
          - 0.0.0.0/0
          - ::/0
      - description: Allow SSH
        direction: in
        protocol: tcp
        port: 22
        source_ips:
          - 0.0.0.0/0
          - ::/0
    state: present

- name: Create Hetzner server instance
  hetzner.hcloud.server:
    api_token: "{{ create_vm_hetzner_api_credentials.api_token }}"
    name: "{{ create_vm_hetzner_name }}"
    server_type: "{{ create_vm_hetzner_server_type }}"
    image: "{{ create_vm_hetzner_image }}"
    location: "{{ create_vm_hetzner_location }}"
    enable_ipv4: true
    enable_ipv6: true
    firewalls:
      - ssh-only
    user_data: |
      #cloud-config
      ssh_pwauth: false
      users:
        - name: {{ cloud_init_credentials.username }}
          hashed_passwd: "{{ cloud_init_credentials.password | password_hash(hashtype='sha512') }}"
          lock_passwd: false
          groups: sudo
          shell: /bin/bash
          ssh_authorized_keys:
            - "{{ cloud_init_credentials.ssh_key }}"
    labels: "{{ create_vm_hetzner_labels }}"
    state: started
  register: _create_vm_hetzner_server_instance

- name: Add host to inventory
  ansible.builtin.add_host:
    hostname: '{{ _create_vm_hetzner_server_instance.hcloud_server.ipv4_address }}'
  changed_when: false
