---
- name: (Debian) Remove apt cdrom source from new installs
  become: true
  ansible.builtin.lineinfile:
    path: /etc/apt/sources.list
    regexp: "^deb cdrom:"
    state: absent

- name: (Debian) Ensure support for HTTPS repositories
  become: true
  ansible.builtin.package:
    name:
      - ca-certificates
      - apt-transport-https
    state: present

- name: (Debian) Select local apt repositories
  become: true
  ansible.builtin.template:
    src: "sources-{{ ansible_distribution | lower }}.list.j2"
    dest: /etc/apt/sources.list
    backup: true
  register: common_apt_repository
  when:
    - ansible_architecture == 'x86_64'
    - ansible_distribution_major_version | int >= 11

- name: (Debian) Update apt cache
  become: true
  ansible.builtin.apt:
    update_cache: "{{ common_apt_repository is changed }}"
    lock_timeout: 600

- name: (Debian) Install packages
  become: true
  ansible.builtin.package:
    name:
      - iptables-persistent
      - cron
      - git
      - wget
      - curl
      - tar
      - man-db
      - less
      - sudo
      - tmux
      - nano
      - dnsutils
      - unattended-upgrades
    state: present

- name: (Debian) Configure automatic reboots when updates require it
  become: true
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '(\/\/)?Unattended-Upgrade::Automatic-Reboot '
    line: 'Unattended-Upgrade::Automatic-Reboot "true";'
