---
- name: (Debian) Install Docker dependencies
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present

- name: (Debian) Add the Docker repository
  deb822_repository:
    name: docker
    types: deb
    uris: "https://download.docker.com/linux/{{ ansible_distribution | lower }}"
    suites: "{{ ansible_distribution_release }}"
    components: stable
    architectures: amd64
    signed_by: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
  register: docker_repository

- name: (Debian) Install Docker
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: "{{ docker_repository is changed | bool }}"
