[Unit]
Description=Internet Dynamic DNS Client
Documentation=man:inadyn
Documentation=man:inadyn.conf
Documentation=https://github.com/troglobit/inadyn

ConditionPathExists={{ inadyn_conf_file }}
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart={{ inadyn_installed_binary }} --pidfile /run/inadyn/inadyn --config {{ inadyn_conf_file }}

# Instead of relying on the -p option to drop privileges, use systemd to limit them
# TODO: Create SELinux policy to allow systemd directory creation
#DynamicUser=true

#CacheDirectory=inadyn
#RuntimeDirectory=inadyn
#StateDirectory=inadyn

# Isolate service from the rest of the system
ProtectHome=true
PrivateDevices=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictNamespaces=true
RestrictRealtime=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
MemoryDenyWriteExecute=true
SystemCallArchitectures=native
LockPersonality=true

[Install]
WantedBy=multi-user.target
