services:
  wireguard:
    image: ghcr.io/niklasea/wireguard:{{ wireguard_version }}
    restart: unless-stopped
    sysctls:
      net.ipv4.conf.all.src_valid_mark: 1
    cap_add:
      - NET_ADMIN
    deploy:
      resources:
        limits:
          memory: 1G
    ports:
      - {{ wireguard_listenport }}:{{ wireguard_listenport }}/udp
    volumes:
      - {{ wireguard_config_dir }}/{{ wireguard_interface_name }}.conf:/config/wg0.conf:ro
