[Interface]
Address = {{ wg_network | ansible.utils.ipaddr(loopindex | int+1) }}
{% if wg_dns is defined %}
DNS = {{ wg_dns }}
{% endif %}
PrivateKey = {{ wg_client_private_keys.results[loopindex | int].stdout }}

[Peer]
PublicKey = {{ wg_server_keys.public | default(wg_public_key.stdout) }}
AllowedIPs = {{ wg_allowedips }}
Endpoint = {{ wg_endpoint }}:{{ wg_listenport }}
