---
name: Build VyOS image

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      branch:
        description: VyOS branch to build.
        required: true
        default: current
        type: string
      release_tag:
        description: Build a specific release, e.g. '1.3.4'. This needs to match the given branch name if provided.
        required: false
        type: string
      architecture:
        description: Target computer architecture.
        required: true
        default: amd64
        type: string

env:
  BUILD_DIR: vyos_build

permissions: {}

jobs:
  build:
    name: Build system image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          repository: vyos/vyos-build
          ref: '1.3.8'
          path: $BUILD_DIR

      - name: Prepare the build process with Docker
        run: >
          docker run
          --privileged
          -v ${{ github.workspace }}/$BUILD_DIR:/vyos -w /vyos
          vyos/vyos-build:equuleus
          ./configure --architecture "amd64" --build-type release --build-by mail@niklasea.dk
        env:
          ARCHITECTURE: ${{ inputs.architecture }}

      - name: Run the build process with Docker
        run: >
          docker run
          --privileged
          -v ${{ github.workspace }}/$BUILD_DIR:/vyos -w /vyos
          vyos/vyos-build:equuleus
          make iso
        env:
          ARCHITECTURE: ${{ inputs.architecture }}

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: VyOS_equuleus1.3.8_amd64
          path: $BUILD_DIR/build/live-image-amd64.hybrid.iso
