---
name: Build Omada EAP controller image

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build_omada_controller.yml
      - ansible/dockerfiles/omada_controller/**
  pull_request:
    paths:
      - .github/workflows/build_omada_controller.yml
      - ansible/dockerfiles/omada_controller/**
  workflow_dispatch:
    inputs:
      omada_tar_url:
        description: Omada EAP controller tar.gz download URL.
        required: true
        type: string
      docker_tag:
        description: Docker image tag.
        required: true
        type: string

jobs:
  build:
    permissions:
      contents: read
      packages: write

    uses: ./.github/workflows/push_docker_image.yml
    with:
      image_name: ghcr.io/niklasea/omada_controller
      custom_tag: ${{ inputs.docker_tag }}
      context: ansible/dockerfiles/omada_controller
      file: ansible/dockerfiles/omada_controller/dockerfile
      build-args: |
        OMADA_TAR_URL=${{ inputs.omada_tar_url || 'https://static.tp-link.com/upload/software/2026/202601/20260121/Omada_Network_Application_v6.1.0.19_linux_x64_20260117100056.tar.gz' }}
