---
name: Build WireGuard image

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build_wireguard.yml
      - ansible/dockerfiles/wireguard/**
  pull_request:
    paths:
      - .github/workflows/build_wireguard.yml
      - ansible/dockerfiles/wireguard/**

jobs:
  build:
    permissions:
      contents: read
      packages: write

    uses: ./.github/workflows/push_docker_image.yml
    with:
      image_name: ghcr.io/niklasea/wireguard
      context: ansible/dockerfiles/wireguard
      file: ansible/dockerfiles/wireguard/dockerfile
