---
name: Build iPerf3 image

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build_iperf3.yml
      - ansible/dockerfiles/iperf3/**
  pull_request:
    paths:
      - .github/workflows/build_iperf3.yml
      - ansible/dockerfiles/iperf3/**

jobs:
  build:
    permissions:
      contents: read
      packages: write

    uses: ./.github/workflows/push_docker_image.yml
    with:
      context: ansible/dockerfiles/iperf3
      file: ansible/dockerfiles/iperf3/dockerfile
      image_name: ghcr.io/niklasea/iperf3
