---
name: Build Stubby image

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build_stubby.yml
      - ansible/dockerfiles/stubby/**
  pull_request:
    paths:
      - .github/workflows/build_stubby.yml
      - ansible/dockerfiles/stubby/**
  workflow_dispatch:
    inputs:
      branch:
        description: getdns branch to use, e.g. 'tags/v1.7.3'.
        required: false
        default: tags/v1.7.3
        type: string

jobs:
  build:
    permissions:
      contents: read
      packages: write

    uses: ./.github/workflows/push_docker_image.yml
    with:
      image_name: ghcr.io/niklasea/stubby
      custom_tag: ${{ inputs.branch || 'master' }}
      context: ansible/dockerfiles/stubby
      file: ansible/dockerfiles/stubby/dockerfile
      build-args: |
        GETDNS_RELEASE=${{ inputs.branch || 'master' }}
