name: Deploy

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/**'
      - 'ansible/**'

permissions: {}

jobs:
  terraform:
    name: Provision with Terraform
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TERRAFORM_API_TOKEN }}

      - name: Terraform fmt
        run: terraform fmt -check
        continue-on-error: true

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Validate
        run: terraform validate -no-color

      - name: Terraform Plan
        run: terraform plan -no-color -input=false -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan

  ansible:
    name: Configure with Ansible
    runs-on: self-hosted
    needs: terraform
    permissions:
      contents: read
    defaults:
      run:
        working-directory: ./ansible

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Ansible dependencies
        run: |
          pip install ansible
          ansible-galaxy install -r requirements.yml

      - name: Run playbook
        run: |
          # Create a tiny script that echos the vault password
          echo 'echo "$VAULT_PASS"' > vault_pass.sh
          chmod +x vault_pass.sh

          ansible-playbook main.yml --vault-password-file ./vault_pass.sh
        env:
          VAULT_PASS: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
